* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 7vh;
    background-color: white;
    padding: 1rem;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;

      span {
        color: #000;
      }
    }

    .search-bar {
      flex: 1;
      margin: 0 1rem;
      padding: 0.6rem 1rem;
      border-radius: 20px;
      border: none;
      font-size: 1rem;
      background-color: #ccc;
      max-width: 30vw;
    }
  }

  main {
    height: 93vh;
    background-color: #ccc;
    padding: 1rem;

    .section {
      margin-bottom: 2rem;

      h2 {
        margin-bottom: 1rem;
      }

      .card-row {
        display: flex;
        gap: 1rem;
        overflow-x: auto;

        .card {
          display: flex;
          flex-direction: column;
          justify-content: end;

          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("./assets/fundo.jpg");
          background-size: cover;
          background-position: center top;
          border-radius: 32px;
          overflow: hidden;
          width: 20vw;
          height: 25vh;
          padding-bottom: 0.5rem;

          .card-info {
            padding: 0.5rem;
            background-color: transparent;
            margin-top: 0px;
            width: 100%;

            .card-info-text{
              display: flex;
              justify-content: space-between;
              margin-bottom: 0.5rem;
              span {
                font-weight: bold;
                display: block;
                margin-bottom: 0.3rem;
                color: white;
              }
            }

            .progress-bar {
              background: #222;
              height: 2px;
              margin-left: -1rem;
              width: calc(100% + 2rem);
              border-radius: 3px;
              overflow: hidden;

              div {
                height: 100%;
                background: white;
                width: 0%;
              }
            }
          }
        }
      }
    }
  }
}